# Build output
/target

# Temp folder used for reverse engineering
/tmp

backup.bin

# Emacs
.#*
\#*\#
*~
.dir-locals-2.el

# Vim
*.swp
*.swo
.*.sw?

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editors / IDEs
.idea/
.vscode/

# Local secrets
.env
.env.local

# software
lang.csv